@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{
    font-family: 'Nunito',sans-serif;
    background-color: rgb(209, 202, 239);
    height: 100vh;
    display: flex;
    flex-direction: row;
   
    margin:0;
}
h1{
    margin-top: 4%;
}

.input{
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    font-size: 100%;
    
    
}
input[type = number]{
    margin-left: 1%;
    width: 5%;  
}

li{
    width: 80%;
}
ul{
    margin-top: 0;
}
.left{
   display: flex;
   flex-direction: column;
   width:20%;
   height:100%;
   border-right: solid;
   border-color: rgb(69, 84, 139);
   background-color: rgb(58, 41, 126);

}
input{
    border: 0;
    border-radius: 4%;
    line-height: 1.85em;
    border-radius: 15px;
    font-size: 60%;
    padding-left: 1%;
}

.signout{
    
    margin-top: auto;
    margin-bottom: 3%;
    
    text-align: center;

}
.goal{
    margin-bottom: auto;
    text-align: center;
}
input[type = checkbox]{
    
    width: 3%;
}

img{
    width:90%;
}
textarea{
    resize:none;
    margin-top:1%;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    font-size: 70%;
    /* width: 1200px; */
}

#name{
    width:50%;
    height: 300%;
    padding: 2%;
    overflow-y: scroll;
    

}
.right{
   
    width: 80%;    
    font-size: x-large;
    padding-left: 3%;
    overflow-y: auto;
}
button{
    font-size: 135%;
    font-family: 'Nunito',sans-serif;
    font-weight: 1000;
    cursor: pointer;

    
    width: 85%;
    color:rgb(221, 226, 236);
    border: 50px;
    box-shadow: 0 4px 8px 0 rgb(5, 19, 26), 0 4px 10px rgba(23, 10, 35, 0.289) ;
}

#signout{
   
    
    background-color:  rgb(191, 188, 234);
    
    border-color: rgb(193, 109, 134);
    padding:2% ;
   
    margin-bottom: 10px;
    transition: transform ease 0.3s;
    border-radius: 15px;
    color: black;
    
}
#goal:hover{
    transform: scale(105%);
   
}

#signout:hover{
    transform: scale(105%);
   
}
summary:hover{
    color: rgb(76, 46, 197);
}

#goal{
    background-color:  rgb(125, 120, 230);
   
    border-color: rgb(9, 98, 51);
    padding:5% ;
    transition: transform ease 0.3s;
    border-radius: 25px;
    
    
  
}
